@import '~antd/dist/antd.less';

body {
  margin: 0;
}

.layoutContainer {
  min-height: 100vh;
}

.spacing {
  margin-top: 10px;
}

img {
  // Detail img
  width: 100%;
}

/* <576px */
.wrap {
  margin: 0 6px;

  .topicList {
    background: #fff;
    padding: 0 10px;
  }
}

/* >=576px */
@media all and (min-width: 576px) {
  .wrap {
    margin: 0 10px;
  }
}

/* >=768px */
@media all and (min-width: 768px) {
  .wrap {
    margin: 0 16px;

    .topicList {
      background: #fff;
      padding: 0 20px;
    }
  }
}

/* >=992px */
@media all and (min-width: 992px) {
  .wrap {
    margin: 0 20px;
  }
}

/* >=1200px */
@media all and (min-width: 1200px) {
  .wrap {
    margin: 0 auto;
    width: 980px;

    .topicList {
      background: #fff;
      padding: 0 30px;
    }
  }
}

/* >=1600px */
@media all and (min-width: 1600px) {
  .wrap {
    width: 1200px;
  }
}
